<!DOCTYPE html>
<html lang="en">
  <head>
    <title>View Details</title>
  </head>
      <h1>%=book.id%</h1>
       <ol>
        <li><a href="details.ejs">View Details</a></li>  
        <li><a href="show.ejs">Book Collection</a></li>
       </ol>
  <body>
    <img src="<%= book.image_url %><" alt="<%= book.title %>">
    <h2>%=book.author%</h2>
    <main>
     <p><%=book.description %></p>    
    </main>
      <h3>%=book.isbn %></h3>
      <h4>%=book.Bookshelf%</h4>
  </body>
</html>