#book-card{
  border-bottom: solid;
  border-style: solid;
  border-width: 1px;
}


header {
  background-color: lightblue;
}

body { 
  background-color: cornsilk;
}

p{
  color:rgb(6, 6, 126);
  padding: 10px;
  background-color: black;
  color: aliceblue;
  border-top: red;
  border-style: solid;
  border-width: 15px;
}

img{
  border-top: red;
  border-style: solid;
  border-width: 50px;
  
}

footer{
  font-family: fantasy;
  font-weight: bolder;
}
